@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
}

/* Título de la página */
h1 {
    text-align: center;
    padding: 3%;
}

/* DIV contenedor de todos los productos */
.contenedor-productos {
    display: flex;
}

/* DIV contenedor del producto */
.producto {
    padding: 3%;
    background-color: #dc143c;
    border: 2px solid #000000;
}

/* DIV contenedor imagen */